/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root{
    --darkBlue: rgb(37, 100, 182); 
    --white: rgb(255,255,255);
    --silver: rgb(192,192,192);
    --royalblue: rgb(162,191,254);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-width: 100vw;
    overflow-x: hidden;
    background-color: lightgray;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
.header {
    /* background: var(--royalblue); */
    background-color: lightgray;
     color: black; 
    text-align: center;
 
}

/* Main area styles */
.main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 0.4rem;
}

/* Content section styles */
.content {
    flex: 3;
    background: #f4f4f4;
    /* border: 1px solid #ddd; */
}

/* Sidebar styles */
.sidebar {
    flex: 1;
    background: var(--white);
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    border-right: 3px solid darkgray;
}
/* left menu */
#menu__left{
    max-width: 20%;
     display: flex;
     background-color: var(--navyBlue);
     flex-direction: column;
     position: relative;
     /* border-left: 2px solid black; */
     /* border-right: 2px solid black; */
     
 }
 .content{
     width: 100%;
     
     background-color: #1E293B;
 }
 .menu {
     display: flex;
     flex-direction: column;
     row-gap: 0.3rem;
    
 }
  .userProfile{
     padding: 0.7rem;
     background-color: var(--navyBlue);
     width: 100%;
     height: 35%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     row-gap: 0.1rem;
 }
 .userProfile img{
     width: 38%;
     height: auto;
     background-color: rgb(31, 31, 31);
     padding: 0.3rem;
     border-radius: 50%;
 }
 .userProfile h4{
   display: block;
 }
 
 .menu div{
 
     width: 100%;
     height:50px;
     display: flex;
     position: relative;
    
 
 }
 
 .menu button{
     display: flex;
     justify-content: space-between;
     align-items: center;
     column-gap: 0.5rem;
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
    padding-left: 0.7rem;
    cursor: pointer;
     border-radius: 15px;  
     background-color: lightgray; 
     border: none;
     outline: none;
    
    
    
    
 }
 .button1 {
    transition-duration: 0.4s;
  }
  .menu button:hover h4{
        
        color: white;
      
 }
 
 
 .menu.icon{
     width: 30px;
     height:20px;
 }
 .menu  button h4{
    position: absolute;
    left: 50px;
 }
 
 
 #settingsContainer{
 position: absolute;
 bottom: 5px;
 }

/* Responsive design */
@media (min-width: 320px) {
    
    .menu button{
        justify-content: center;
        padding: 0;

    }
    .main {
       height: 88.8vh;
       gap: 0.1rem;
    }
aside{
    font-size: 5px;

}
aside h4{
    display: none;
}
.sidebar{
    display: block;

    width: 15%;
}

/* Side menu small */
.userProfile{
    display: flex;

    justify-content: center;
   
}
.userProfile img{
    width: 100%;
}
.userProfile h4, h5{
    font-size: 10px;
}

}

/* table */
@media (min-width: 768px) {
   
    .menu button{
       
        justify-content: flex-start;
        padding-left: 0.9rem;

    }
/* Side menu tablet */

.userProfile img{
    width: 38%;
}
.userProfile h4, h5{
    font-size: 11px;
}

    .header{
        font-size: 20px;
    }
    .main {
        height: 92.5vh;
     }

}

/* Laptop */
@media (min-width: 768px) {
 
    
    .userProfile h4, h5{
        font-size: 12px;
    }
}